<div id="logo">
    <img src="/img/logo.png" width="230" height="57">
</div>
<div id="techtips">
    <H1>Did you know...</H1>
    <p id="tip">{{{tip}}}</p>
    <p>Find out more by going to:<br><a href="{{hostname}}/{{{stub}}}" id="url"{{{target}}}>{{hostname}}/{{{stub}}}</a></p>
    <p>Or call the Service Desk @ <a href="tel:{{contactnumber}}">{{contactnumber}}</a></p>
</div>